.github/**
.vscode/**
.vscode-test/**
node_modules/**
models/
scripts/
discuss/
website/**
integration/**
docs/**
extensions/**
out/**
src/**
.gitignore
.eslintignore
.vscode-test.mjs
esbuild.mjs
**/tsconfig*
**/*.ts
**/*.config.*
**/.vscode-test.*
# Exclude JS and map files from root directory
/*.js
/*.map
# Exclude specific image file
donate.jpg
